body{
    margin: 0;
    font-family: 'ubuntu';
}
li{
    list-style-type: none;
}
header{
    background-color: #f8f8f8;
    padding: 2em 0;
    
}
.main container{
   
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}
.flex container{
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: flex;
    justify-content: center;
    padding: 0;
}
nav a{
    color: #707070;
    text-decoration: none;
    font-weight: 700;
    padding: 0.25em 0;
}
a:hover,a:focus{
    color: #143774;
    text-align: center;
}
.container>li{
    margin-left: 2em;
}
p{
    margin-top: 0;
    color: #179217;
    font-size: 1rem;
    font-weight: bold;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'lora',sans-serif,Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.current:hover,.current:focus{
    color:  #707070;
}
@media  screen and (max-width:675px) {
    header{
        text-align: center;
    }
    .flex-container{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    nav li{
        margin: 0.5em 0;
    }
    .container ul{
        padding: 0;
    }
    .titles{
        color: #143774;
        text-align: center;
    }
    
